In [68]:
import numpy as np
import pandas as pd

In [69]:
#Q1
data = pd.Series()
x = 2
count = 0
def is_prime(number):
  for i in range(2, number):
    if number % i == 0:
      return False
  else: 
      return True

while count < 10:
  if is_prime(x) == True:
    temp = pd.Series([x], index=[count])
    temp2 = pd.concat([data, temp])
    data = temp2
    x+=1
    count+=1
  else:
    x+=1

data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

In [70]:
#Q2
data.iloc[lambda x: x.index % 2 != 0]

1     3
3     7
5    13
7    19
9    29
dtype: int64

In [71]:
#Q5
df = pd.DataFrame({'id':[2,5,10,15,20], 'first_name':['Jason', 'Jason', 'Tina', 'Jake', 'Amy'], 'last_name':['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
                   'age':[42, 52, 36, 24, 73], 'preTestScore':[4,24,31,2,3], 'postTestScore':[25,94,57,62,70]})
df

   id first_name last_name  age  preTestScore  postTestScore
0   2      Jason    Miller   42             4             25
1   5      Jason  Jacobson   52            24             94
2  10       Tina       Ali   36            31             57
3  15       Jake    Milner   24             2             62
4  20        Amy     Cooze   73             3             70

In [72]:
#Q6
df = df.set_index(['id'])
df

   first_name last_name  age  preTestScore  postTestScore
id
2       Jason    Miller   42             4             25
5       Jason  Jacobson   52            24             94
10       Tina       Ali   36            31             57
15       Jake    Milner   24             2             62
20        Amy     Cooze   73             3             70

In [73]:
#Q7
df['first_name']

id
2     Jason
5     Jason
10     Tina
15     Jake
20      Amy
Name: first_name, dtype: object

In [74]:
#Q8
df['age'][10]

36

In [75]:
#Q9
pre = df['preTestScore'].mean()
post = df['postTestScore'].mean()
post - pre

48.8

In [76]:
#Q10
df['postTestScore'][15] = np.NaN
df['postTestScore'][20] = np.NaN
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   first_name last_name  age  preTestScore  postTestScore
id
2       Jason    Miller   42             4           25.0
5       Jason  Jacobson   52            24           94.0
10       Tina       Ali   36            31           57.0
15       Jake    Milner   24             2            NaN
20        Amy     Cooze   73             3            NaN

In [77]:
#Q11
df['postTestScore'][:3]

id
2     25.0
5     94.0
10    57.0
Name: postTestScore, dtype: float64

In [79]:
#Q12
df = df.reset_index()
df['name'] = df['first_name'] + ' ' + df['last_name']
df = df.set_index('name')
df = df.drop(['first_name', 'last_name'], axis=1)
df

                id  age  preTestScore  postTestScore
name
Jason Miller     2   42             4           25.0
Jason Jacobson   5   52            24           94.0
Tina Ali        10   36            31           57.0
Jake Milner     15   24             2            NaN
Amy Cooze       20   73             3            NaN

In [ ]:
#Q13
df['age']['Tina Ali']